<header class="page-header">
  <h1 class="page-header__name">
    <a href={{ "/" | url }}>{{ site.name }}</a>
  </h1>
  <div class="page-header__avatar">
    <a href={{ "/about" | url }}>
      <img src="/images/me.png" alt="{{ site.author.name }}" />
    </a>
  </div>
</header>
