:root {
    --accent: #FFA172;
    --background: #2E3947;
    --color: #e8eaed;
    --color-80: rgba(232, 234, 237, 0.8);
    --color-30: rgba(232, 234, 237, 0.3);
    --color-10: rgba(232, 234, 237, 0.1);
    --border-color: rgba(232, 234, 237, 0.15);
}
