---
layout: base
---

{% include "page-header.njk" %}

<div class="home">
  {% if posts %}
    <div class="home__posts">
      {% for post in posts %}
        <article class="home__post">
          <h2 class="home__post-title">{{ post.title }}</h2>
          <p class="home__post-content">{{ post.content }}</p>
        </article>
      {% endfor %}
    </div>
  {% endif %}

  {{ content | safe }}
</div>
