---
layout: base
---

{% include "page-header.njk" %}

<div class="home">
  {% set postslist = collections.posts %}
  {% if postslist.length > 0 %}
    <div class="home__posts">
      {% for post in postslist | reverse %}
        <article class="home__post">
          <h2 class="home__post-title">{{ post.data.title }}</h2>
          <div class="home__post-content">{{ post.templateContent | safe }}</div>
        </article>
      {% endfor %}
    </div>
  {% endif %}

  {{ content | safe }}
</div>
